body {background:#000000 ; color:#00FF00 ; font-family:arial}
h1 {color:#0033FF ; font-family:sydnie}
h3 {color:#00FF00 ; font-family:sydnie ; text-decoration:underline ; font-weight:bold ; display:inline}
p {color:#00FF00 ; font-family:arial }
p.list {color:#00FF00 ; font-family:sydnie ; text-decoration:underline ; font-weight:bold}
p.item {color:#00FF00 ; font-family:arial ; text-indent: 1cm}
.date {display:inline}
.linksR{display:inline}
.linksL{display:inline}
.headR{color:#00FF00 ; font-family:sydnie ; text-decoration:underline ; font-weight:bold ; text-align:right ; display:inline}
.headL{color:#00FF00 ; font-family:sydnie ; text-decoration:underline ; font-weight:bold ; display:inline}
ul.none{list-style-type: none}
td {color:#00FF00}

